<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bloggu</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="post.css">
    <!--BOOTSTRAP ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="flex-col">
        <div id="nav" class="title">Bloggu</div>

        <main id="content" class="plaid flex-col">
            <div class="post-container">
                <img class="pushpin" src="../public/images/pushpin.png" alt="" aria-hidden="true">
                <article class="post card flex-col">
                    <header class="card-header flex-col scallop">
                        <div class="post-title-row flex-row">
                            <p class="h1">Alyssa Liu: The Rising Star of Figure Skating</p>
                        </div>
                        <p class="h3 post-date">March 7, 2026</p>
                        <div class="tags flex-row">
                            <span>Misc.</span>
                            <span>General</span>
                        </div>
                    </header>

                    <div class="post-body">
                        <p class="p">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
                            pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu
                            aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas.
                            Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class
                            aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                        </p>
                        <p class="p">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae
                            pellentesque sem placerat. In id cursus mi pretium tellus duis convallis.
                        </p>
                    </div>
                </article>
            </div>
        </main>
    </div>
</body>

</html>